<!DOCTYPE html>
<html>
<head>
    <title>Мишкин house</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="publick/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="publick/css/app.less">

</head>
<body>

<div class="container">
    <header class="row">
        <div class="col-md-3 logo">
            <div class="logo__top">мишкин</div>
            <div class="logo__btm">house</div>
        </div>
        <div class="col-md-6 slogan">"Мишкин HOUSE" - мы не купили дизайн, зато у нас лучшая цена на мягие игрушки!</div>
        <div class="col-md-3 contacts">
            <span class="glyphicon glyphicon-envelope"></span> admin@mishkin-house.ru<br/>
            <span class="glyphicon glyphicon-volume-up"></span> +7 123 456 78 90
        </div>
    </header>
    <div class="row">

        <div class="col-md-12">
            <!-- Nav tabs -->
            <div id="toy-types" class="nav nav-tabs">
                <a href="#bear" data-toggle="tab" class="btn btn-sm btn-border-gray col-md-3 col-xs-6 js-tab">Мишки</a>
                <a href="#minion" data-toggle="tab" class="btn btn-sm btn-border-gray btn-border-black col-md-3 col-xs-6 js-tab">Миньоны</a>
                <a href="#wood" data-toggle="tab" class="btn btn-sm btn-border-gray col-md-3 col-xs-6 js-tab">Бревна</a>
                <a href="#others" data-toggle="tab" class="btn btn-sm btn-border-gray col-md-3 col-xs-6 js-tab">Другие</a>
            </div>
        </div>

            <!-- Tab panes -->
        <div class="col-md-12">
            <div class="tab-content">

                <div class="tab-pane fade" id="bear">
                    <div class="toys js-bears">
                        <!-- template -->
                    </div>
                </div><!-- end tab item -->

                <div class="tab-pane fade in active" id="minion">
                    <div class="toys js-minion">
                        <div class="toy col-md-4 col-sm-6">
                            <div class="toy-info">
                                <div class="toy-info__code">Артикул: 00000</div>
                                <div class="toy-info__name">Мишка-братишка</div>
                            </div>
                            <div class="toy-img-wrapper">
                                <img src="publick/i/dog.jpg" class="toy__image img-thumbnail" alt="cat"/>
                                <div class="col-md-4 col-sm-6 toy-more">
                                    <div class="toy-more__text js-readmore btn btn-danger btn-xs" data-target="#order-modal">подробнее</div>
                                </div>
                            </div>
                            <div class="toy__price">Цена: <b>1000р</b></div>
                            <div class="btn btn-sm btn-warning js-order">Заказать</div>
                        </div>
                        <div class="toy col-md-4 col-sm-6">
                            <div class="toy-info">
                                <div class="toy-info__code">Артикул: 00000</div>
                                <div class="toy-info__name">Мишка-братишка</div>
                            </div>
                            <div class="toy-img-wrapper">
                                <img src="publick/i/dog.jpg" class="toy__image img-thumbnail" alt="cat"/>
                                <div class="col-md-4 col-sm-6 toy-more">
                                    <div class="toy-more__text js-readmore btn btn-danger btn-xs" data-target="#order-modal">подробнее</div>
                                </div>
                            </div>
                            <div class="toy__price">Цена: <b>1000р</b></div>
                            <div class="btn btn-sm btn-warning js-order">Заказать</div>
                        </div>
                        <div class="toy col-md-4 col-sm-6">
                            <div class="toy-info">
                                <div class="toy-info__code">Артикул: 00000</div>
                                <div class="toy-info__name">Мишка-братишка</div>
                            </div>
                            <div class="toy-img-wrapper">
                                <img src="publick/i/dog.jpg" class="toy__image img-thumbnail" alt="cat"/>
                                <div class="col-md-4 col-sm-6 toy-more">
                                    <div class="toy-more__text js-readmore btn btn-danger btn-xs" data-target="#order-modal">подробнее</div>
                                </div>
                            </div>
                            <div class="toy__price">Цена: <b>1000р</b></div>
                            <div class="btn btn-sm btn-warning js-order">Заказать</div>
                        </div>
                        <div class="toy col-md-4 col-sm-6">
                            <div class="toy-info">
                                <div class="toy-info__code">Артикул: 00000</div>
                                <div class="toy-info__name">Мишка-братишка</div>
                            </div>
                            <div class="toy-img-wrapper">
                                <img src="publick/i/dog.jpg" class="toy__image img-thumbnail" alt="cat"/>
                                <div class="col-md-4 col-sm-6 toy-more">
                                    <div class="toy-more__text js-readmore btn btn-danger btn-xs" data-target="#order-modal">подробнее</div>
                                </div>
                            </div>
                            <div class="toy__price">Цена: <b>1000р</b></div>
                            <div class="btn btn-sm btn-warning js-order">Заказать</div>
                        </div>
                        <div class="toy col-md-4 col-sm-6">
                            <div class="toy-info">
                                <div class="toy-info__code">Артикул: 00000</div>
                                <div class="toy-info__name">Мишка-братишка</div>
                            </div>
                            <div class="toy-img-wrapper">
                                <img src="publick/i/dog.jpg" class="toy__image img-thumbnail" alt="cat"/>
                                <div class="col-md-4 col-sm-6 toy-more">
                                    <div class="toy-more__text js-readmore btn btn-danger btn-xs" data-target="#order-modal">подробнее</div>
                                </div>
                            </div>
                            <div class="toy__price">Цена: <b>1000р</b></div>
                            <div class="btn btn-sm btn-warning js-order">Заказать</div>
                        </div>
                        <div class="toy col-md-4 col-sm-6">
                            <div class="toy-info">
                                <div class="toy-info__code">Артикул: 00000</div>
                                <div class="toy-info__name">Мишка-братишка</div>
                            </div>
                            <div class="toy-img-wrapper">
                                <img src="publick/i/dog.jpg" class="toy__image img-thumbnail" alt="cat"/>
                                <div class="col-md-4 col-sm-6 toy-more">
                                    <div class="toy-more__text js-readmore btn btn-danger btn-xs" data-target="#order-modal">подробнее</div>
                                </div>
                            </div>
                            <div class="toy__price">Цена: <b>1000р</b></div>
                            <div class="btn btn-sm btn-warning js-order">Заказать</div>
                        </div>
                    </div>
                </div><!-- end tab item -->

                <div class="tab-pane fade" id="wood">
                    Текст3
                </div><!-- end tab item -->

                <div class="tab-pane fade" id="others">
                    Текст4
                </div><!-- end tab item -->

            </div>
        </div>
    </div>
    <footer class="row">
        <div class="col-md-3">2014 г.</div>
        <div class="col-md-6">mishkin-house.ru | Купи мишку - подари радость!</div>
        <div class="col-md-3">admin@mishkin-house.ru</div>
    </footer>

</div> <!-- container -->

<!-- Modal -->
<div class="modal fade" id="order-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Подробнее о товаре</h4>
            </div>
            <div class="modal-body">
                <img src="publick/i/dog.jpg" alt="toy" class="modal-body__img">
                <div class="modal-body__info">
                        Игрушка выполнена из отличного материала и набита любящими руками. У одного из работников есть жена. Сделано с любовью!
                    </div>
                    <p> тут форма телефона и кнопка заказать </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text-template" id="toys-template">
    <% _.each(data, function(toy) { %>
        <div class="toy col-md-4 col-sm-6">
            <div class="toy-info">
                <div class="toy-info__code">Артикул: <%- toy.articul %></div>
                <div class="toy-info__name"><%- toy.name %></div>
            </div>
            <div class="toy-img-wrapper">
                <img src="publick/i/<%- toy.img %>" class="toy__image img-thumbnail" alt="toy"/>
                <div class="col-md-4 col-sm-6 toy-more">
                    <div class="toy-more__text js-readmore btn btn-danger btn-xs" data-target="#order-modal">подробнее</div>
                </div>
            </div>
            <div class="toy__price">Цена: <b><%- toy.price %> руб.</b></div>
            <div class="btn btn-sm btn-warning js-order">Заказать</div>
        </div>
    <% }) %>
</script>


<script src="publick/vendor/bower_components/jquery/jquery.min.js"></script>
<script src="publick/vendor/js/less-1.3.3.min.js"></script>
<script src="publick/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="publick/vendor/bower_components/underscore/underscore-min.js"></script>
<script src="publick/vendor/bower_components/backbone/backbone-min.js"></script>


<script>

    var toysTemplate = _.template( $('#toys-template').html() ),
        data = [],

        bearsData = [{"articul":"00001","name":"Мишка-братишка","img":"cat.jpg","price":"1000"},{"articul":"00002","name":"Мишка-топтыжка","img":"cat.jpg","price":"1010"},{"articul":"00003","name":"Мишка-юрист","img":"cat.jpg","price":"2000"},{"articul":"00004","name":"Мишка-малой","img":"cat.jpg","price":"999"},{"articul":"00005","name":"Мишка-большой-братишка","img":"cat.jpg","price":"1000"},{"articul":"00006","name":"Мишка длинное название","img":"cat.jpg","price":"1010"},{"articul":"00007","name":"Мишка-эффективный","img":"cat.jpg","price":"1029"},{"articul":"00008","name":"Мишка-лень","img":"cat.jpg","price":"1001"}];

    var minionData = [];

    $('.js-tab').on('click',function (e) {
        var currentData = $(this).attr('href').slice(1);
        if (currentData = 'bear') {
            data = bearsData;
            $('.js-bears').html( toysTemplate(bearsData) );
        };

        e.preventDefault();
        $('.js-tab').removeClass('btn-border-black');
        $(e.currentTarget).addClass('btn-border-black');
        $(this).tab('show')
    });

    $('.toys').on('click', '.js-readmore, .js-order', function() {
        $('#order-modal').modal('toggle');
    });




</script>

</body>
</html>
